#resume {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -10rem;
  padding-top: 15rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .fa-calendar-week {
    padding-right: 10px;
  }

  .resume-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 3rem;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        float: left;
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $sub-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
        @include respond(tab-port) {
          font-size: 2rem;
        }
      }

      &-date {
        float: right;
        font-size: $med-font-size;

        @include respond(phone) {
          position: absolute;
          top: 5.4rem;
          float: left;
          font-size: 1.5rem;
        }
        @include respond(tab-land) {
          position: absolute;
          top: 7.0rem;
          float: left;
          font-size: 1.8rem;
        }
        @include respond(tab-port) {
          position: absolute;
          top: 5.2rem;
          float: left;
          font-size: 1.5rem;
        }
      }

      & ul {
        position: relative;
        float: left;
        line-height: 3.0rem;
        font-size: $med-font-size;
        color: $hard-grey;

        @include respond(phone) {
          font-size: 1.4rem;
          line-height: 2.0rem;
          top: 1.4rem;
        }
        @include respond(tab-land) {
          top: 0.9rem;
        }
        @include respond(tab-port) {
          font-size: 1.6rem;
          line-height: 2.3rem;
          top: 0.5rem;
        }
      }

      span {
        font-weight: normal;
        font-size: $med-font-size;

        @include respond(phone) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
