#skills {
  background-color: $soft-grey;
  color: $dark-blue-text;
  margin-top: -10rem;
  margin-bottom: -15rem;
  padding-top: 5rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .skills-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 15rem;
    }

    .row {
      margin-bottom: 3rem;

      @include respond(tab-land) {
        margin: 0;
      }

      @include respond(phone) {
        margin-bottom: 0;
      }
    }

    .col-md-4 {
      display: inline-block;
      float: left;
      transition: 0.5s;
    }

    .col-md-4:hover {
      transform: translateY(-10px);
      .skills-wrapper__text-icon {
        transition: color 0.5s ease;
        color: $secondary-color;
      }
      .skills-wrapper__text-title {
        transition: color 0.5s ease;
        color: $secondary-color;
      }
    }

    .single-service {
      border-radius: 10px;
      border: 2px solid $dark-blue-text;

      padding: 10px;
      position: relative;

      @include respond(tab-land) {
        margin: 10px 0;
      }

      @include respond(phone) {
        margin: 10px 0;
      }
    }

    &__text {
      text-align: center;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: bold;
        font-size: $default-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }
      &-icon {
        font-size: $big-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }
      &-specific {
        font-weight: bold;
        font-size: $sub-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }

      & p .heading {
        font-weight: bold;
        color: $primary-color;
      }
    }
  }
}
