// COLORS
$primary-color: #11c9f5;
$secondary-color: #00ffff;

$white-color: #fff;

$dark-grey: #333333;

$soft-grey: #d9d9d9;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$sub-font-size: 2.8rem;
