// COLORS
$primary-color: #3a489d;
$secondary-color: #099ed8;
$tertiary-color: #12c9f5;

$white-color: #fff;

$dark-grey: #333333;

$hard-grey: #919191;

$soft-grey: #f7f7f7;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$med-font-size: 2.0rem;
$mid-font-size: 2.5rem;
$sub-font-size: 2.8rem;
$big-font-size: 4rem;

